{{!< ../layouts/default }}

<script type="text/javascript">
    (function() {
       $('#akelas-tab').addClass('active');
    }())
</script>

<h1>Akelas</h1>

{{{link 'Create' '/Akelas/Create'}}}

 <table>
     <thead>
        <tr>
            <th>{{{link 'First Name' '/Akelas?orderby=firstname&direction=1'}}}</th>
            <th>{{{link 'Last Name' '/Akelas?orderby=lastname&direction=1'}}}</th>
            <th>{{{link 'Primary Email' '/Akelas?orderby=primaryemail&direction=1'}}}</th>
            <th>{{{link 'Alternate Email' '/Akelas?orderby=alternateemail&direction=1'}}}</th>
            <th>Primary Phone</th>
            <th>Alternate Phone</th>
            <th></th>
        </tr>
     </thead>
     <tbody>
        {{#each akelas}}
            <tr>
                <td>{{firstname}}</td>
                <td>{{lastname}}</td>
                <td>{{primaryemail}}</td>
                <td>{{alternateemail}}</td>
                <td>{{primaryphone}}</td>
                <td>{{alternatephone}}</td>
                <td>
                    {{{link 'Details' detailsurl}}} |
                    {{{link 'Edit' editurl}}} |
                    {{{link 'Delete' deleteurl}}}
                </td>
            </tr>
        {{/each}}
     </tbody>
 </table>